* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: inherit;
  padding: inherit;
}

.header-inner {
  width: 100%;
  background-color: #fff;
}

.nav-link {
    margin-left: 12px;
}



/* Default height for small devices */
#intro-example {
  height: 400px;
}

/* Height for devices larger than 992px */
@media (min-width: 992px) {
  #intro-example {
    height: 600px;
  }
}

.mask {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px;
}

